<html>
    <head>
        <title>Papiervoetbal</title>
    <style>
.disabled{
  opacity: 0.5;
  filter: alpha(opacity=0.5);
  zoom: 1;  /* needed to trigger "hasLayout" in IE if no width or height is set */ 
}
    </style>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th colspan="2">
                        Papiervoetbal - <a href="/reset">Reset board</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr><td>
            {% block board %}
            <table>
                <tbody>
                    {% for line in boardMap %}
                        <tr>
                            {% for bit in line %}
                            <td><div>{{bit}}</div></td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endblock %}
            </td><td>
                {% block joystick %}
                <table>
                    <thead>
                        <th colspan="3">
                            Joystick
                        </th>
                    </thead>
                    <tbody>
                        {% for i in range(9) %}
                        {% if i%3 == 0 %}
                        <tr>
                        {% endif %}
                        {% if i == 4 %}
                            <td><img src="../static/img/move{{i}}.png"></td>
                        {% else %}
                        {% if i in disabledButtons %}
                            <td><a class="disabled"><img src="../static/img/move{{i}}.png"></a></td>
                        {% else %}
                            <td><a href="/move/{{i}}"><img src="../static/img/move{{i}}.png"></a></td>
                        {% endif %}
                        {% endif %}
                        {% if i%3 == 2 %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% endblock %}
            </td>
            </tr>
            </tbody>
        </table>
    </body>
</html>
